name: "Update Professor IDs and Ratings"

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-data:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        working-directory: ./backend
        run: |
          npm install axios
          npm install

      - name: Run Update Scripts
        working-directory: ./backend
        run: |
          node scripts/updateProfessorIDs.js
          node scripts/updateProfessorRatings.js

      - name: Commit and Push Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Automated update of professor RMP IDs and Ratings"
          file_pattern: 'backend/src/data/*.json'
          commit_user_name: "github-actions[bot]"
          commit_user_email: "github-actions[bot]@users.noreply.github.com"